/* your code */
      table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
            font-family: Arial, sans-serif;
        }

        thead {
            background-color: blue;
            color: white;
        }

        th, td {
            /* border: 2px solid #333; */
            padding: 12px;
            text-align: center;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #d4ffd6;
        }